.remove-bg {
  filter: brightness(1, 1);
  mix-blend-mode: multiply; }

a {
  text-decoration: none;
  color: #000000; }

header {
  background-color: #2B2E4D;
  color: yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.6; }

.main__header {
  position: fixed;
  width: 100%; }

.fixed {
  position: fixed;
  bottom: 40px;
  right: 40px; }

a {
  color: yellow;
  font-size: 2rem; }

.imagen__titulo img {
  width: 100%;
  height: auto; }

.main__header logo__header {
  display: inline-block;
  width: 80%;
  padding-left: 40px; }

.main__header ul {
  font-size: 0; }

.main__header ul li {
  display: inline-block;
  width: 20%;
  position: relative; }

.main__header ul ul {
  display: none;
  position: absolute;
  background-color: #2B2E4D;
  width: 70px;
  padding-left: 15px;
  padding-bottom: 15px; }

.main__header ul ul li {
  display: block; }

.main__header ul li:hover ul {
  display: block; }

nav {
  background-color: darkred;
  text-align: center;
  font-size: 3rem; }

.main__title {
  font-style: italic;
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background-color: yellow;
  color: #2B2E4D; }

.main__principal {
  background-color: #2B2E4D;
  text-align: center;
  background-size: 800px 600px; }

.footer__principal {
  background-color: #2B2E4D;
  text-align: center;
  color: #ffffff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.6;
  font-size: 2rem; }

.mapa__principal {
  background-color: darkred;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: #2B2E4D; }

.mapa__principal img {
  width: 100%;
  height: auto; }

.main__header__nav-buttom_Inicio {
  border: 2px solid white;
  border-radius: 41px;
  width: 80%;
  padding: 5px 10px;
  margin-left: 20px; }

.main__header__nav-buttom_Historia {
  border: 2px solid white;
  border-radius: 41px;
  width: 80%;
  padding: 5px 10px;
  margin-left: 20px; }

.main__header__nav-buttom_HazteSocio {
  border: 2px solid white;
  border-radius: 41px;
  width: 80%;
  padding: 5px 10px;
  margin-left: 20px; }

.main__header__nav-buttom_Plantilla {
  border: 2px solid white;
  border-radius: 41px;
  width: 80%;
  padding: 5px 10px;
  margin-left: 20px; }

.main__header__nav-buttom_Multimedia {
  border: 2px solid white;
  border-radius: 41px;
  width: 80%;
  padding: 5px 10px;
  margin-left: 20px; }

.imagenes__cuerpo img {
  width: 100%;
  height: auto; }

.parallax {
  /* The image used */
  background-image: url("Imagenprincipal.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
